<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ValidWordsPath" value="../../../../../../Resources/american-english-large.txt"/>
    <add key="ReelsPath" value="../../../../../../Resources/reels.txt"/>
    <add key="ScoresPath" value="../../../../../../Resources/scores.txt"/>
  </appSettings>
</configuration>